Statistiques {
  display: flex; 
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

noms{
  font-size: 20px;
  border: solid blue;
  border-width: 1rem 1em 2px 1rem;
  display: flex;
  justify-content: space-around;
  width: 60%;
  color :  black;
}

pv{
  font-size: 20px;
  border: solid blue;
  border-width: 2px 1em 2px 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%; 
  color: black;
}

mana{
  font-size: 20px;
  border: solid blue;
  border-width: 2px 1em 1rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap:  wrap;
  width: 60%; 
  color: black;
}



actions{
  font-size: 30px;
  border: 7px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 15%;
}

li{
  background-color: #F5F5F5;
  margin: 30px;
  padding: 20px;
}

PartieBasse{
  display: flex;
  width: 70%;
  height: 60%;
}

.pictos{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
}

.picto-item {
  position: relative;
}

.picto-item:hover:after,
.picto-item:focus:after {
  content: attr(desc);
  position: absolute;
  top: -1.4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  padding: 5px 14px;
  background: #A10684;
  color: #000;
  border-radius: 20px;
  font-size: 1.2rem;
}

[desc]:hover:before,
[desc]:focus:before {
  content: "▼";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #A10684;
}

.stat{
  border: 1px solid red;
  padding: 5px;
  margin: 50px;
}

body{
  background-image:url("parallax-forest.png");
  background-size: 80% 160%;